html{
background-image: linear-gradient(red,pink, pink, yellow,yellow);

}

div#header{
  border: 5pt solid black;
  text-align: center;
  background-color: white;
  max-width: 55%;
  margin-left: 160px;
}

h4{
  font-size: 16pt;
  font-family: proxima nova ultrabold,sans-serif;
}

div#chall{
  border: 5pt solid black;
  margin-top: 50px;
  max-width: 70%;
  background-color: white;
  padding: 20px;
}

h1{
  font-size: 22pt;
  font-family: proxima nova ultrabold, sans-serif;
}

p1{
  font-size: 16pt;
  font-family: proxima nova,sans-serif;
  padding: 10px;
}

div#prob{
  border: 5pt solid black;
  margin-top: 50px;
  max-width: 70%;
  background-color: white;
  padding: 20px;
}

div#output{
  border: 5pt solid black;
  margin-top: 50px;
  max-width: 60%;
  background-color: white;
  padding: 30px;
}

input{
  padding: 10px;
}



div#list{
  border: 5pt solid black;
text-align: center;
  background-color: white;
  margin-top: 100px;
  max-width: 50%;

}

ul{
  list-style: none;
}

li{
  font-size: 25pt;
  font-family: proxima nova ultrabold, sans-serif;
  padding: 10px;
}

h2{
  font-size: 22pt;
  font-family: proxima nova ultrabold,sans-serif;
}
h3{
  font-size: 22pt;
  font-family: proxima nova ultrabold,sans-serif;
}

h5{
  font-size: 28pt;
  font-family: proxima nova ultrabold,sans-serif;
}

p2{
  font-size: 16pt;
  font-family: proxima nova,sans-serif;
  padding: 10px;
}

div#result{
  border: 5pt solid black;
  margin-top: 50px;
  max-width: 70%;
  background-color: white;
  padding: 20px;
}

p3{
  font-size: 16pt;
  font-family: proxima nova,sans-serif;
  padding: 10px;
}

button{
  background: black;
  color: white;
  font-family: proxima nova  ultrabold, sans-serif;
  font-size: 20pt;
  margin: 10px;

}






h4{
  font-size: 16pt;
  font-family: proxima nova,sans-serif;
}
